
<div class="d-flex justify-content-center">
    <h1>Verify Email</h1>
</div>

<div class="d-flex justify-content-center">
    <form [formGroup]="resetForm">
    
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required style="background-color: #A1BE95;">
            <div class="text-danger" *ngIf="formSubmitted && (resetForm.get('email')?.touched&&resetForm.get('email')?.invalid)">*Field is required</div>
            <div class="text-danger" *ngIf="resetForm.get('email')?.hasError('email')">Email is not valid</div>
    
            <div><button class="btn btn-primary my-3" (click)="verifyEmailHandler()">Verify Email</button></div>
        </div>
      
    </form>
</div>
