
<div class="d-flex justify-content-center">
    <h1>Reset Password</h1>
</div>
<div class="d-flex justify-content-center">
    

    <form [formGroup]="setPasswordForm">
        <div class="px-5 ">
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" formControlName="password" style="background-color: #A1BE95;">
              <div *ngIf="formSubmitted || setPasswordForm.get('password')?.invalid&&(setPasswordForm.get('password')?.dirty||setPasswordForm.get('password')?.touched)">
                <div *ngIf="setPasswordForm.get('password')?.hasError('required')" class="text-danger">Password is required.</div>
                <div *ngIf="setPasswordForm.get('password')?.hasError('pattern')" class="text-danger">Password Should contain at least 1 upper case, numeric, and special character</div>
              </div>
            </div>
            <div class=" form-group ">
              <label>Confirm Password</label>
              <input class="form-control" type="password" formControlName="confirmPassword" style="background-color: #A1BE95;">
              <div *ngIf="formSubmitted || setPasswordForm.get('confirmPassword')?.invalid&&(setPasswordForm.get('confirmPassword')?.dirty||setPasswordForm.get('confirmPassword')?.touched)">
                <div *ngIf="setPasswordForm.get('confirmPassword')?.hasError('required')" class="text-danger">Confirm Password is required.</div>
                <div *ngIf="setPasswordForm.get('confirmPassword')?.hasError('pattern')" class="text-danger">Password Should contain at least 1 upper case, numeric, and special character</div>
              </div>
            </div>
            <div>
              <button class="btn btn-primary my-3 px-4" (click)="setPasswordHandler()">Reset</button>
            </div>
          </div>
    </form>
</div>